# Ansible
*.retry
*.log

env
backend/env

webpack-stats.json

.idea
.DS_Store
.DS_STORE
.vscode
be.ps1

styleguide

README
fig.yml
docker-compose.yml
.git/
logs/
tmp/
node_modules/
frontend/node_modules/
.DS_Store
docker-compose.yml
.dockerignore
env/

*.sample

web_local.version
web_server.version

# backend
*.sqlite3