env
__pycache__
*.sqlite3
.DS_Store
.vscode

# Installer logs
*.log
pip-log.txt

# ignore .idea files
.idea

*.cache

# Unit test / coverage reports
.coverages
backend/.coverage
.tox
nosetests.xml
coverage-report.xml
staticfiles

# react 
node_modules
